.ccl-{
  &button{
    width: auto;
    height: auto;
    margin: 0;
    padding: .5rem 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: .95rem;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    border-radius: .25rem;
    outline: none;
    cursor: pointer;

    &--primary{
      background-color: black;
      color: white;
      border-color: transparent;
    }
    &--secondary{
      background-color: white;
      color: black;
      border-color: transparent;
    }
  }
  &banner{
    &-wrapper{
      width: 250px;
      min-height: 100px;
      padding: 1rem;
      background-color: gray;
      color: black;
      display: none;
      position: fixed;
      z-index: 999;
      bottom: 1rem;
      left: 1rem;

      &.layout--{
        &box{}
        &cloud{}
        &bar{}
      }
      &.position--{
        &bottom-left{}
        &bottom-center{}
        &bottom-right{}
        &middle-left{}
        &middle-center{}
        &middle-right{}
        &top-left{}
        &top-center{}
        &top-right{}
      }
      &.transition--{
        &default{}
        &slide{}
        &zoom{}
      }
    }
    &-body{
      &-title{}
      &-content{}
    }
    &-actions{}
  }
  &dialog{
    &-wrapper{
      width: 50vw;
      height: auto;
      min-height: 300px;
      max-height: 50vh;
      overflow: scroll;
      padding: 1rem;
      background-color: grey;
      color: black;
      display: none;
      position: fixed;
      z-index: 999;
      top: 10rem;
      left: 25vw;

      &.layout--{
        &box{}
        &cloud{}
        &bar{}
      }
    }
    &-body{
      position: relative;

      &-close{
        width: 2rem;
        height: 2rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: .95rem;
        color: black;
        background-color: transparent;
        border: 1px solid black;
        border-radius: .25rem;
        outline: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
      }
      &-title{}
      &-primary{}
      &-secondary{
        margin-top: 1rem;
      }
      &-table{}
    }
    &-actions{
      margin-top: 1rem;
    }
  }
  &category{
    &-row{
      &-inner{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
    &-outer{
      width: 100%;
    }
    &-table{
      width: 100%;

      & > thead{
        th{}
      }
      & > tbody{
        th{}
        td{}
      }
    }
    &-block{
      width: 100%;

      &-collapsible{
        height: auto;
        max-height: 0;
        position: relative;
        overflow: hidden;
        transition: max-height .125s ease-in-out 0s;

        &.is--collapsed{
          max-height: 100%;

        }

      }
      &-description{}
      &-heading{
        margin: 0 0 1rem;
        padding: 1rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &-block{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row;
          gap: 1rem;

          &-title{}
          &-toggle{}
        }


        &-toggle{}
      }
      &-table{}
    }
  }
  &toggle{
    &-input{}
    &-label{}
  }
}
